<div class="card mb-3">
  <div class="card-header" *ngIf="invite.friendInvite">Friend invite</div>
  <div class="card-header" *ngIf="invite.teamInvite">Team invite</div>
  <div class="card-header" *ngIf="invite.matchInvite">Match invite</div>
  <div class="card-header" *ngIf="invite.refereeInvite">Referee invite</div>
  <div class="card-body" *ngIf="invite.friendInvite">
    <h5 class="card-title">
      From: <a [routerLink]="['/members/', invite.inviteFrom.id]"></a
      >{{ invite.inviteFrom.knownAs }}
    </h5>
    <p class="card-text">
      Age: {{ invite.inviteFrom.age }}, Country:
      {{ invite.inviteFrom.country }}, City: {{ invite.inviteFrom.city }}
    </p>
    <button
      class="btn btn-primary w-100"
      (click)="acceptFriendInvite(invite.inviteFrom.id, invite.inviteTo.id)"
    >
      Accept
    </button>
    <button
      class="btn btn-danger w-100"
      (click)="declineFriendInvite(invite.inviteFrom.id, invite.inviteTo.id)"
    >
      Decline
    </button>
  </div>
  <div class="card-body" *ngIf="invite.teamInvite">
    <h5 class="card-title">
      To team:
      <a [routerLink]="['/teams/', invite.teamInvited.id]">{{
        invite.teamInvited.teamName
      }}</a>
    </h5>
    <p class="card-text">
    </p>
    <button
      class="btn btn-primary w-100"
      (click)="
        acceptTeamInvite(
          invite.teamInvited.owner.id,
          invite.teamInvited.id,
          invite.inviteTo.id
        )
      "
    >
      Accept
    </button>
    <button
      class="btn btn-danger w-100"
      (click)="
        declineTeamInvite(
          invite.teamInvited.owner.id,
          invite.teamInvited.id,
          invite.inviteTo.id
        )
      "
    >
      Decline
    </button>
  </div>
  <div class="card-body" *ngIf="invite.matchInvite">
    <h5 class="card-title">
      From team:
      <a [routerLink]="['/teams/', invite.teamInviting.id]">{{
        invite.teamInviting.teamName
      }}</a>
    </h5>
    <button
      class="btn btn-primary w-100"
      (click)="
        acceptMatchInvite(
          invite.teamInviting.owner.id,
          invite.teamInviting.id,
          invite.teamInvited.id
        )
      "
    >
      Accept
    </button>
    <button
      class="btn btn-danger w-100"
      (click)="
        declineMatchInvite(
          invite.teamInviting.owner.id,
          invite.teamInviting.id,
          invite.teamInvited.id
        )
      "
    >
      Decline
    </button>
  </div>
  <div class="card-body" *ngIf="invite.refereeInvite">
    <h5 class="card-title">From: {{ invite.inviteFrom.knownAs }}</h5>
    <h5 class="card-title">
      For Match:
      <a [routerLink]="['/matches/', invite.matchInvitedTo.id]">
        Click to see match</a>
    </h5>

    <button
      class="btn btn-primary w-100"
      (click)="acceptRefereeInvite(invite.inviteTo.id, invite.matchInvitedTo.id)"
    >
      Accept
    </button>
    <button
      class="btn btn-danger w-100"
      (click)="
        declineRefereeInvite(invite.inviteTo.id, invite.matchInvitedTo.id)
      "
    >
      Decline
    </button>
  </div>
</div>
