<div class="card mt-4">
  <div class="row text-center">
    <div class="col-6">
      <h4 class="mt-2">Creator</h4>
      <app-member-card [user]="league.creator"></app-member-card>
    </div>
    <div class="col-6 mt-1">
      <h2>League Info</h2>
      <h5>Country: {{ league.country }}</h5>
      <h5>City: {{ league.city }}</h5>
      <h5>Team limit: {{ league.teamLimit }}</h5>
      <h5>Sign up is closing: {{ league.closedSignUp | date: 'mediumDate' }}</h5>
      <button class="btn btn-primary w-95 mt-3" [routerLink]="['/leagues/', league.id]">
        League table and details
      </button>
    </div>
  </div>
</div>