<div class="container mt-4">
  <div class="row">
    <h1>{{ team.teamName }} Team Profile</h1>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img
          class="card-img-top img-thumbnail"
          src="{{ team.photoUrl || '../../../../../assets/team-creast.png' }}"
          alt="{{ team.teamName }}"
        />
        <div class="card-body">
          <div>
            <strong>Ranking points:</strong>
            <p>{{ team.rankingPoints }}</p>
          </div>
          <div>
            <strong>Team created:</strong>
            <p>{{ team.dateCreated | date: "mediumDate" }}</p>
          </div>
        </div>
        <div class="card-footer" *ngIf="loginedInUser.userType === 'player' && loginedInUser.userTeam.isTeamOwner">
          <div class="btn-group d-flex">
            <button
              type="button"
              class="btn btn-primary w-100"
              (click)="sendMatchInvite()"
              *ngIf="loginedInUser.id != team.owner.id"
            >
              Match invite
            </button>
            <button class="btn btn-success w-100" *ngIf="loginedInUser.id === team.owner.id">
              <i class="fa fa-envelope"></i> Edit
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel text-center">
        <tabset>
          <tab
            heading="About {{ team.teamName }}"
            *ngIf="loginedInUser.id != team.owner.id"
          >
            <h2 class="mt-3">Team Owner</h2>
            <div class="row justify-content-center">
              <div class="col-3">
                <app-member-card [user]="team.owner"></app-member-card>
              </div>
            </div>
            <h4 class="mt-3">
              {{ team.description }}
            </h4>
          </tab>
          <tab heading="Players">
            <div class="row justify-content-center mt-3">
              <div *ngFor="let user of userList" class="col-3">
                <app-member-card [user]="user"></app-member-card>
              </div>
            </div>
          </tab>
          <tab
            heading="Logo and edit"
            *ngIf="loginedInUser.id === team.owner.id"
          >
            <form
              class="mt-2 text-center"
              #editForm="ngForm"
              id="editForm"
              (ngSubmit)="updateTeam()"
            >
              <h4>Location Details</h4>
              <div class="form">
                <label for="city" class="ml-4">Name</label>
                <input
                  class="form-control ml-2"
                  type="text"
                  name="name"
                  [(ngModel)]="team.teamName"
                />
                <label for="city" class="ml-4">Description</label>
                <input
                  class="form-control ml-2"
                  type="text"
                  name="description"
                  [(ngModel)]="team.description"
                />
              </div>
            </form>
            <button
              [disabled]="!editForm.dirty"
              form="editForm"
              class="btn btn-success mt-4"
            >
              <i class="fa fa-save"></i> Save Changes
            </button>
            <app-team-photo [team]="team"></app-team-photo>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
